@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Michroma&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
}

a {
  font-size: 24px;
  color: black;
  cursor: crosshair;
}

a:hover {
  color: rgb(255, 191, 71);
}

nav {
  /* background-color: #242424; */
  height: 100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

li {
  list-style-type: none;
}

header, body {
  background-color: #3b0063;
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1644px;
  width: 100vw;
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% auto;
}

.nav__logo {
  max-height: 64px;
}

.maui__nav--logo {
  max-height: 70px;
  font-weight: bold;
  font-size: 24px;
}

.nav__link--anchor {
  color: black;
}

.maui__metal--logo {
  max-width: 1366px;
  width: 100vw;
}

#music__player {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  opacity: 0.25;
}

#music {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  padding: 20px 20px;
}

.album__art {
  display: inline-flex;
  max-width: 500px;
  max-height: 500px;
  padding: 20px;
  transition: all 500ms ease;
  z-index: 2;
  cursor: crosshair;
}

.album__art--wrapper {
  max-height: 500px;
}

.album__art--wrapper:before {
  content: "";
  top: 0;
  left: 0;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 0;
}

.album:hover .album__art--wrapper:before {
  opacity: 0.7;
}

.album:hover .album__art {
  transform: scale(1.07);
  filter: blur(5px);
}

.album:hover .album__description {
  opacity: .75;
  transform: translateY(-400%);
}

.album__link:hover {
  color: rgb(255, 191, 71);
}

.maui__player {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.album__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.album__description {
  top: 50%;
  left: 90px;
  transform: translateY(-100%);
  max-width: 100%;
  z-index: 3;
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
  cursor: crosshair;
}



.album__links, .album__description,
.album__title, .album__year,
.album__link {
  text-align: center;
  color: rgb(72, 255, 0);
}

.video__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1366px;
}

.video__player {
  padding: 0 50px;
  width: 100vw;
  }

.video__link {
  display: flex;
  padding: 16px 0;
}

#merch {
  display: none;
  width: 100vw;
  padding: 480px;
}

footer {
  background-color: #242424;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4% 0;
}

.footer__logo--img {
  height: 70px;
}

.footer__social--list {
  width: 100vw;
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 28px;
}

.footer__social--link {
  margin-bottom: 20px;
  position: relative;
}

.footer__link {
  font-size: 15px;
}

.footer__anchor {
  padding-bottom: 24px;
  position: relative;
  cursor: crosshair;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

@media (max-width: 768px) {
    .album__art {
    max-height: 250px;
    max-width: 250px;
  }

  .album__art--wrapper{
    max-height: 300px;
  }

  .album__description {
  transform: translateY(-100%);
  }

  .album:hover .album__description {
  transform: translateY(-250%);
  }

  .video__link {
    font-size: 16px;
  }

  .footer__logo--img {
    height: calc(70px / 2);
  }

  .footer__social--list {
    max-width: 350px;
  }
}


@media (max-width: 480px) {
  .album__art {
    max-height: 200px;
    max-width: 200px;
  }

  .album__art--wrapper{
    max-height: 200px;
  }

  .album:hover .album__description {
  transform: translateY(-200%);
  }

  .video__link {
    font-size: 8px;
  }
}